html {
  max-width: 1440px;
  width: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Outfit', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: hsl(212, 45%, 89%);
  margin: 0;

}

main {
  text-align: center;
  width: 320px;
  height: 500px;
  background-color: hsl(0, 0%, 100%);
  padding: 1em;
  border-radius: 20px;
  padding-bottom: 1em;
}

h1 {
  color: hsl(218, 44%, 22%);
  font-size: 20px;
  padding: 0 15px;
  margin: 20px 0;
  margin-bottom: 15px;
}

p {
  font-size: 15px;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  padding: 0 20px;
  display: inline-block;
  margin-top: 0;
}

img {
  width: 100%;
  border-radius: 10px;
}
